<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    -->
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RestService.Service1" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                               binding="webHttpBinding"
                               contract="RestService.IService1"
                              behaviorConfiguration="web"></endpoint>
        <endpoint address="https://localhost:44302/Service1.svc/soap"
                               binding="ws2007FederationHttpBinding" behaviorConfiguration="soap"
                               contract="RestService.IService1"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
      <ws2007FederationHttpBinding>
        <binding>
          <security mode="TransportWithMessageCredential">
            <message issuedKeyType="BearerKey" establishSecurityContext="false" issuedTokenType="urn:ietf:params:oauth:token-type:jwt">
              <issuerMetadata address="https://localhost:44302/Service1.svc/mex" />
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceCredentials useIdentityConfiguration="true" >
            <!--Certificate added by FedUtil.  Subject='CN=DefaultApplicationCertificate', Issuer='CN=DefaultApplicationCertificate'.-->
            <serviceCertificate findValue="ED1544EF6E933F40AFBB927660C45D29CE8823B0" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Always" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />

        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
          <bearerTokenEndpointRequired />
        </behavior>
       <behavior name="soap">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="bearerTokenRequired" type="RestService.BearerTokenExtensionElement, RestService" />
        <add name="bearerTokenEndpointRequired" type="RestService.BearerTokenEndpointExtensionElement, RestService" />
        <!-- This behavior extension will enable the service host to be Claims aware -->
        <add name="federatedServiceHostConfiguration" type="Microsoft.IdentityModel.Configuration.ConfigureServiceHostBehaviorExtensionElement, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.identityModel>
    <identityConfiguration>
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add type="RestService.CustomJwtSecurityTokenHandler, RestService" />
        <securityTokenHandlerConfiguration>
          <certificateValidation certificateValidationMode="None" />
        </securityTokenHandlerConfiguration>
        
      </securityTokenHandlers>
      <audienceUris>
        <clear/>
        <add value="https://localhost:44302/"/>
        <add value="http://localhost:52854/"/>
      </audienceUris>
      <claimsAuthorizationManager
        type="RestService.CustomClaimsAuthorizationManager, RestService" />
      <claimsAuthenticationManager type="RestService.CustomClaimsAuthenticationManager, RestService"/>
    </identityConfiguration>
  </system.identityModel>
  <!--
  <microsoft.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="http://localhost:52854/service1.svc" />
      </audienceUris>
      <securityTokenHandlers>
        <remove type="Microsoft.IdentityModel.Tokens.WindowsUserNameSecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add type="RestService.CustomJwtSecurityTokenHandler, RestService" />
      </securityTokenHandlers>
      <claimsAuthorizationManager
        type="RestService.CustomClaimsAuthorizationManager, RestService" />
    </identityConfiguration>
  </microsoft.identityModel>-->

</configuration>
